@import '../_mixins';
@import '../_variables';
@import '../_placeholders';


//header of about us
.about_us_header{
  position:relative;
  height:45vh;
  width:100vw;
  &::after{
    @include absolute;
    @include pseudo($background:rgba(0, 0, 0, 0.466));
  }
  img{
    @extend %back-img;
  }
  .about_us_title{
    @include absolute(9%,65%,0,50%);
    height:auto;
    z-index:1;
    &_child{
      width:100%;
      height:auto;
      overflow:hidden;
      
    }
  }
}

//body of about us
.about_us_body{
  width:90vw;
  margin: auto;
  padding:10vmin 0;
  background:$background;

}

//All h1 in about us page
.about_us h1{
  transform: translateY(110%);
  transition: transform 0.8s ease-out;
  font-size:calc(100 * var(--res));
  font-weight:500;
  white-space:nowrap;
  color:transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  background-image: radial-gradient(circle at 43% 39%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 71% 44%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 50% 74%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 34% 20%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 44% 59%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 6% 48%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 94% 15%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 81% 40%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 7% 68%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 10% 37%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 5%,transparent 5%, transparent 100%),linear-gradient(321deg,rgb(254,254,5),rgb(254,63,3));
  
}

//h1 in about us header
.about_us_title h1{
  margin-bottom:1vmin;
  &.active{
    transform:translateY(0);
    &.first{
      transition-delay:0.2s;
    }
    &.last{
      transition-delay:0.4s;
    }
  }
}
@media screen and(max-width:$tablet-max-width){
  .about_us_body{
    width:100vw;

  }
}

