.uploadErrorMsg,
.checkFormError {
  width: 100%;
  @include flex;
  height: auto;
  padding: 2vmin 0vmin;
  color: red;
  background: rgba(255, 5, 5, 0.268);
  border-radius: 5px;
}

.uploadSuccessMsg {
  width: 90%;
  height: auto;
  @include flex;
  margin: auto;
  padding: 2vmin 0vmin;
  color: green;
  background: rgba(5, 255, 26, 0.268);
  border-radius: 5px;
  border: 2px solid rgba(0, 192, 35, 0.799);
}
.add_product_h1 {
  width: 10vw;
  margin: 10vmin auto 5vmin;
  white-space: nowrap;
}
.add_product {
  width: 90vw;
  height: auto;
  margin: 10vmin auto;
  @include flex(row, space-between, flex-start);
  &_child {
    width: 47%;
  }
}
