.auth_btn{
  box-sizing: border-box;
  cursor:pointer;
  height: auto;
  font-size:1.3vw;
  margin:1vw 0.4vw;
  padding:0.2vw 1.3vw;
  color:#CE6A14;
  border-radius:5px;
  font-weight:500;
  white-space: nowrap;
  
  &.sign_up{
    position:relative;
    border:2px solid #8c4202;
    background-color: transparent;

    &:hover{
      background-color: whitesmoke;
      border:2px solid transparent;
    }
    &:active{
      background-color: rgb(177, 175, 175);
      border:2px solid transparent;
    }
  }
  /* sign up button and log in button 
    ( we have two button log in, one in link and one in list of link_child)*/
  
  &.log_in{
    position:relative;
    display :block;
    background-color:#ffd83c;
    margin-right: 1vw; 
    padding:0.3vw 1.4vw;
    border:0px solid transparent;
    &:active{
      background-color:  whitesmoke;
    }
  }
  &.log_out{
    position:relative;
    display :block;
    background-color:#fff;
    margin-right: 1vw;
    border:0px solid transparent;
    cursor:pointer;
    
    &:active{
      background-color: rgb(177, 175, 175);
    }
  }
}

//RESPONSIVE
@media screen and (max-width:$tablet-max-width) {
  .auth_btn{
    font-size:2.6vmin;
    margin:2vmin 0.8vmin;
    padding:0.4vmin 2.6vmin;
    &.log_in{
      display:none;
      padding:0.6vmin 2.8vmin;
    }    
    &.log_out{ 
      margin-right: 2vmin; 
    }
  }
}