@import '../mixins';
@import '../_placeholders';
@import '../_variables';
.bestCategory{
  width:80vw;
  height:40vw;
  display:flex;
  margin:5vmin auto 15vmin;
  
  .derby{
    width:20vw;
    height:100%;
    margin-right:2%;
    cursor:pointer;
    img{
      @extend %back-img;
    }
  }
  &_child{
    width:60vw;
    height:40vw;
    @include grid(1fr , 1fr 1fr);
    &_name{
      width:60vw;
      height:11vw;
      margin-bottom:1vw;
      margin-right:1vw;
      grid-column: 1/span 3;
      grid-row:1/ span 1;
      background: rgba(10, 10, 10, 0.232);
      overflow:hidden;
      border-radius: 3px;
      div{
        width:300%;
        height:100%;
        display: flex;
        transform:translateX(0%);
        transition:transform 0.5s ease-out; 
        p{
          position:relative;
          height:100%;
          width:calc(100% / 3);
          @include flex;
          cursor:pointer;
          &::after{
            @include pseudo($background:rgba(0, 0, 0, 0.251));
            position:absolute;
            z-index:1;
          }
          .slide_item{
            position:absolute;
            color:#fff;
            height:100%;
            width:100%;
            font-size:calc(90 * var(--res));
            z-index:2;
          }
          img{
            position:absolute;
            @extend %back-img;
          }
        }
      }
    }
    &_items{
      grid-column: 1/span 1;
      grid-row:2/ span 1;
      @include grid(1fr 1fr 1fr, 1fr);
      @include flex;

      .moccasins{
        @include flex;
        overflow:hidden;
        grid-column: 1/span 1;
        grid-row:1/ span 1;
        height:28vw;
        width:19.25vw;
        margin-right:1vw;
        transition:width 0.5s ease-out;
        cursor:pointer;
        img{
          @extend %back-img;
        }
      }
      .oxfords{
        @include flex;
        overflow:hidden;
        grid-column: 2/span 1;
        grid-row:1/ span 1;
        height:28vw;
        width:19.25vw;
        margin-right:1vw;
        cursor:pointer;
        transition:width 0.5s ease-out;
        img{
          @extend %back-img;
        }
      }
      .loafers{
        @include flex;
        overflow:hidden;
        grid-column: 3/span 1;
        grid-row:1/ span 1;
        height:28vw;
        width:19.25vw;
        margin-right:1vw;
        cursor:pointer;
        transition:width 0.5s ease-out;
        img{
          @extend %back-img;
        }
      }
    }
  }
}

//active class for animation

.bestCategory_child{
  &.active-moccasins{
    .bestCategory_child_name{
      div{
        transform:translateX(0%);
      }
    }
    .moccasins{
      width:28vw;
    }
    .oxfords{
      width:15vw;
    }
    .loafers{
      width:15vw;
    }
  }
  &.active-oxfords{
    .bestCategory_child_name{
      div{
        transform:translateX(-33.3%);
      }
    }
    .moccasins{
      width:15vw;
    }
    .oxfords{
      width:28vw;
    }
    .loafers{
      width:15vw;
    }
  }
  &.active-loafers{
    .bestCategory_child_name{
      div{
        transform:translateX(-66.6%);
      }
    }
    .moccasins{
      width:15vw;
    }
    .oxfords{
      width:15vw;
    }
    .loafers{
      width:28vw;
    }
  }
}

