.body_home_page {
  width:92vw;
  margin:0 auto;
  padding-top:15vmin;
  background:$background;
  // &_section_1{

  // }

  &_section_2{
    width:100%;
    position:relative;
    height:auto;
    display:flex;

    .layout-catalogList{
      width:25%;
      margin-right:1vw;
    }
    
  }
}


//Responsive
@media screen and (max-width:$tablet-max-width){
  .layout-catalogList{
    display:none;
  }
}
