.cart_item{
  width:90%;
  height:auto;
  margin:3vw auto;
  @include flex($justify-content:space-around);
  .cart_item_img{
    width:10vw;
    height:10vw;
    img{
      @extend %back-img;
      border-radius:5px;
    }
  }
  .cart_item_info{  
    height:10vw;
    @include flex(column,space-around,flex-start);
    &.first{
      width:50vw;
    }
    &.last{
      width:10vw;
    }
    
    &_name{
      font-size: 1.5vw;
      font-weight: 500; 
    }
    &_color{
      font-size: 1.5vw;
      font-weight: 400;
      color:rgb(103, 103, 103); 
    }
    &_size{
      font-size:2vw;
      font-weight: 400;
    }
    &_subtotal_price{
      font-size:1.8vw;
      font-weight: 500;
      color:$red;
    }
    &_price{
      font-size:1vw; 
    }
    &_quantity{
      @extend %flex-center;
      &_btn{
        @include flex;
        height:1.7vw;
        width:1.7vw;
        border-radius:3px;
        margin-right:1vw; 
        padding:0.2vw;
        cursor:pointer;
        border:1px solid #000;
        img{
          @extend %back-img;
        }
      }
      &_item{
        font-size: 1.5vw;
        margin-right:1vw;
      }
    }
    
  }
  &_del{
    width:3vw;
    height:10vw;
    @extend %flex-center;
    img{
      height:2vw;
      width:2vw;
      cursor:pointer;
    }
  }
}

@media screen and (max-width:$tablet-max-width){
  .cart_item{ 
    width:100%;
    margin:15vw auto; 
    .cart_item_img{
      width:20vw;
      height:20vw; 
    }
    .cart_item_info{  
      height:20vw; 
      &.first{
        width:40vw;
      }
      &.last{
        width:15vw;
      }

      &_name{
        font-size: 2vw;  
      }
      &_color{
        font-size: 3vw;  
      }
      &_size{
        font-size:4vw; 
      }
      &_subtotal_price{
        font-size:2.5vw; 
      }
      &_price{
        font-size:2vw; 
      } 
      &_quantity_btn{ 
        height:3vw;
        width:3vw; 
        margin-right:2vw; 
        padding:0.4vw;  
      }
      &_quantity_item{
        font-size: 2.5vw;
        margin-right:2vw;
      } 
    }
    &_del{
      width:4vw;
      height:20vw; 
      img{
        height:4vw;
        width:4vw; 
      }
    }
  }
}