.cart{
  margin: auto;
  width:90vw;
  height:auto;
  user-select: none;
  @include flex(column,center,flex-end);

  &_products{
    width:100%; 
  }
  &_info{
    width: 30%;
    height:17vw; 
    @include flex(column,space-around,flex-start);
    font-size: 2vw;
    font-weight: 500; 
    span{  
      color:$red;
    }
    button{ 
      padding:1vw 6vw;
      background: $red; 
      border:none;
      outline:none;
      color:white;
      border-radius:5px;
      cursor:pointer;
      &:active{
        background: $red-active; 
      }
    }
  }  
} 
.nothing_cart{
  font-size: 3vw;
  font-weight: 500; 
  width:100vw;
  @include flex;
  span{
    color:$red;
    cursor:pointer;
  }
}

@media screen and (max-width:$tablet-max-width){
  .cart_info{
    width: 80%;
    height:30vw; 
    align-items:center;
    font-size: 4vw;
    margin:2vw auto;  
    h1,h2,button{
      margin:2vw 0;
    }
    button{ 
      padding:3vw 19vw;  
    }
  }   
  .nothing_cart{
    font-size: 5vw;  
  }
}