.cart_item{
  width:63vw;
  height:200px;
  margin:20px 0;
  @extend %flex-center;
  .cart_item_img{
    width:20vw;
    height:20vw;
      img{
      @extend %back-img;
    }
  }
  &_info{
    margin-left:50px;
    width:33vw;
    height:20vw;
    @include flex(column,center,flex-start);
    
    &_name{
      font-weight: 500;
      
    }
    &_color{
      font-weight: 400;
      color:rgb(103, 103, 103);

    }
    &_size{
      font-size:40px;
      font-weight: 400;
    }
    &_price{
      font-weight: 500;
      color:$red;
    }
    &_quantity{
      @extend %flex-center;
      &_btn{
        border:1px solid #000;
        border-radius:3px;
        margin-right:10px;
        padding:0 5px;
        img{
          height:15px;
          width:15px;
          cursor:pointer;
        }
      }
      &_item{
        font-size: 20px;
        margin-right:10px;
      }
    }
    
  }
  &_del{
    width:10vw;
    height:10vw;
    @extend %flex-center;
    img{
      height:25px;
      width:25px;
      cursor:pointer;
    }
  }
}