.catalog_list{
  position:sticky;
  top:0;
  width:auto;
  height:auto;
  
  .catalog_list_child{
    opacity:1;
    height: auto;
    border-radius:10px;
    width:auto;
    transition:all 500ms ease-out;
    background:rgb(217, 217, 217);
    &.navbar{ 
      max-height:80vh;
      overflow:auto;
    }

    .catalog_link{
      position:relative;
      overflow:hidden;
      width:100%;
      height:50px;
      display:inline-block;
      border-radius:10px;
      cursor:pointer;
      &:hover{
        background:rgba(183, 183, 183, 0.624);
      }
    }
    .catalog_link_child{
      display:flex;
      align-items:center;
      width:100%;
      height:100%;
      color:rgb(2, 2, 2);
      white-space:nowrap;
      font-size:1.1rem;
      padding-left:10px;
      font-weight:500;
    }  
  }
} 
