.products_filter_item_category li{
  font-size: calc(23 * var(--res));
  font-weight:500;
  margin:0.2vmin;
  color:rgb(190, 189, 189);
  user-select: none;
  &.active{
    input{
      cursor:pointer;
    }
    cursor:pointer;
    color:$red;
  }
}