.products_filter_item_color{
  h2 {
    font-size: calc(35 * var(--res));
    font-weight: 500;
    margin:1vmin 0;
    user-select:none; 
  }
  
  div{
    @include flex(row,space-between,flex-start);
     li{
      font-size: calc(23 * var(--res));
      font-weight:500;
      margin:0.2vmin;
      color:rgb(190, 189, 189);
      user-select: none;
      &.active{
        cursor:pointer;
        color:$red;
        input{
          cursor:pointer;
        }
      }
    }
  }
}