@import '../_mixins';
@import '../_variables';
@import '../_placeholders';

//header of about us
.contact_header{
  position:relative;
  height:45vh;
  width:100vw;
  &::after{
    @include absolute;
    @include pseudo($background:rgba(0, 0, 0, 0.466));
  }
  img{
    @extend %back-img;
  }
  .contact_title{
    @include absolute(9%,65%,0,50%);
    height:auto;
    z-index:1;
    &_child{
      width:100%;
      height:auto;
      overflow:hidden;
      
    }
  }
}

//body of about us
.contact_body{
  width:90vw;
  margin: auto;
  padding:10vmin 0;
  background:$background;

}

//All h1 in about us page
.contact h1{
  font-size:calc(100 * var(--res));
  font-weight:500;
  @extend %title; 
}

//h1 in about us header
.contact_title h1{
  margin-bottom:1vmin;
  &.active{
    transform:translateY(0);
    &.first{
      transition-delay:0.2s;
    }
    &.last{
      transition-delay:0.4s;
    }
  }
}
@media screen and(max-width:$tablet-max-width){
  .contact_body{
    width:100vw;

  }
}