.delete_product {
  &_h1 {
    width: 10vw;
    margin: 10vmin auto 5vmin;
    white-space: nowrap;
  }
  h2 {
    @include flex;
    width: 85%;
    font-weight: 500;
    padding: 2vmin 0vmin;
    height: auto;
    margin: auto;
    color: $red;
  }
  .uploadErrorMsg,
  .uploadSuccessMsg {
    width: 85%;
    @include flex;
    height: auto;
    margin: auto;
    padding: 2vmin 0vmin;
    border-radius: 5px;
    color: red;
    background: rgba(255, 5, 5, 0.268);
    border: 2px solid rgb(251, 54, 54);
  }

  .uploadSuccessMsg {
    color: green;
    background: rgba(5, 255, 26, 0.268);
    border: 2px solid rgba(0, 192, 35, 0.799);
  }
}
