//filter of search results page and category page
.category_body,
.search_results_body .products_filter {
  position: sticky;
  top: 20vmin;
  width: 28%;
  height: auto;
  background: $background;
  padding: 5px 2vw;
}

.category_body,
.search_results_body .filter_btn_wrapper {
  display: none;
  position: sticky;
  top: 20vmin;
  z-index: 2;
  button {
    position: relative;
    transform: translateX(-43vw);
    @extend %button;
    z-index: 2;
  }
  &_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    background: transparent;
    z-index: 1;
  }
  .filter_btn_child {
    position: relative;
    z-index: 3;
    .products_filter {
      position: absolute;
      left: 0;
      top: 2vw;
      padding: 5px 2vw;
      border-radius: 5px;
      transform: translateX(-210%);
      transition: transform 0.5s ease-out;
    }
  }
  .filter_btn_child.active {
    .products_filter {
      transform: translateX(-43vw);
    }
  }
}

@include tablet {
  .category_body,
  .search_results_body > .products_filter {
    display: none;
  }
  .category_body,
  .search_results_body .filter_btn_wrapper {
    display: block;
    .products_filter {
      width: 45vw;
    }
  }
}
@include mobile {
  .category_body,
  .search_results_body > .products_filter {
    display: none;
  }
  .category_body,
  .search_results_body .filter_btn_wrapper {
    display: block;
    .products_filter {
      width: 60vw;
    }
  }
}
