
.footer_parent{
  display:flex;
  justify-content:center;
  background-image: radial-gradient(circle at center center, rgb(225, 137, 68),rgb(101, 40, 15));
  footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-grow: 1;
    flex-shrink:0;


    .footer_list{
      list-style-type:none;
      li{
        color:whitesmoke;
      }
    }

    img {
      width: 30px;
    }
  }
}