.frequently_Questions {
  width: 80vw;
  height: auto;
  margin: 2vw auto;
  @include flex($flex-direction: column);
  h3 {
    font-size: calc(30 * var(--res));
    font-weight: 500;
    margin: 2vmin 0;
  }
  &_title {
    height: auto;
    width: 100%;
    overflow: hidden;
    @include flex;

    //h1  have a linear gradient color, transform... in about_us.scss
    h1 {
      font-size: calc(80 * var(--res));
      margin: 1vmin 0;
      &.first {
        transition-delay: 0s;
        &.active {
          transform: translateY(0);
        }
      }
      &.last {
        transition-delay: 0.2s;
        &.active {
          transform: translateY(0);
        }
      }
    }
  }
  &_child {
    width: 100%;
    height: auto;
    @include flex;
    margin: 2vmin 0;

    &_item {
      width: 33%;
      font-weight: 500;
      @include flex($flex-direction: column);
      margin: 2vmin 0;

      div {
        margin: 1.5vmin 0;
        font-size: calc(26 * var(--res));
        cursor: pointer;
        &:hover {
          color: $red;
        }
      }
    }
  }
}

//tooltip
.tooltip {
  position: absolute;
  display: none;
  opacity: 0;
  width: 30vw;
  height: auto;
  font-size: calc(22 * var(--res));
  padding: 2vw;
  background: white;
  box-shadow: $box-shadow;
  transform: scale(1, 0);
  z-index: 1;
  border-radius: 7px;
  span {
    position: absolute;
    top: -7px;
    left: 50px;
    width: 0;
    height: 0;
    transform: translateX(-50%);
    border-bottom: 7px solid #fff;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    z-index: 3;
  }
}
.fade_in {
  display: block;
  animation: fade 0.3s linear forwards;
}
@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(1, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

//Responsive
@media screen and (max-width: $tablet-max-width) {
  .frequently_Questions_child {
    flex-direction: column;
    &_item {
      width: 100%;
    }
  }
  .tooltip {
    width: 50vw;
  }
}
