@import '../mixins';
@import '../variables';
.frequently_Questions{
  width:80vw;
  height:auto;
  margin:2vw auto;
  @include flex($flex-direction:column);
  h3{
    font-size: calc(30 * var(--res));
    font-weight: 500;
    margin:2vmin 0;
  }
  &_title {
    height:auto;
    width:100%;
    overflow:hidden;
    @include flex;

    //h1  have a linear gradient color, transform... in about_us.scss
    h1{
      font-size: calc(80 * var(--res));
      margin:1vmin 0;
      &.first{
        transition-delay:0s;
        &.active{
          transform:translateY(0);
        }
      }
      &.last{
        transition-delay:0.4s;
        &.active{
          transform:translateY(0);
        }
      }
    }
  }
  &_child{
    width:100%;
    height:auto;
    @include flex;
    margin:2vmin 0;

    &_item{
      width:33%;
      font-weight: 500;
      @include flex($flex-direction:column);
      margin:2vmin 0;

      div{
        margin:1.5vmin 0;
        font-size: calc(26 * var(--res));
        cursor:pointer;
        &:hover{
          color:$red;
        }
      }
    }

  }
}