@import '../mixins.scss';
@import '../variables.scss';

.wrapperGridCenter{
  @include flex($flex-direction:column);
  .wrapperGrids{
    height:100%;
    width:auto;
    flex-wrap:wrap;

  }
}

//BREACKPOINT
@include mobile{
  .wrapperGridCenter .wrapperGrids{
    @include grid(repeat(1, 1fr),repeat(1, 1fr));
    row-gap: 140px;
  }
}

@include tablet {
  .wrapperGridCenter .wrapperGrids{
    @include grid(repeat(2, 1fr),repeat(2, 1fr));
    row-gap: 100px;
    column-gap: 20px;
  }
}

@include desktop{
  .wrapperGridCenter .wrapperGrids{
    @include grid(repeat(3, 1fr),repeat(3, 1fr));
    row-gap: 100px;
    column-gap: 20px;
  }
}

@include large-desktop{
  .wrapperGridCenter .wrapperGrids{
    @include grid(repeat(3, 1fr),repeat(3, 1fr));
    row-gap: 100px;
    column-gap: 20px;
  }
}