@import '../_mixins';
@import '../_variables';

.wrapperGridCenter{
  @include flex($flex-direction:column);
  .wrapperGrids{
    height:100%;
    width:auto;
    flex-wrap:wrap;

  }
}

//BREAKPOINT
@include mobile{
  .wrapperGridCenter .wrapperGrids{
    @include grid(repeat(1, 87vw),repeat(1, 87vw));
    min-width:$mobile-card-min-width;
    min-height:$mobile-card-min-width;
    row-gap: 150px;
  }
}

@include tablet {
  .wrapperGridCenter .wrapperGrids{
    @include grid(repeat(2, 40vw),repeat(2, 40vw));
    min-width:$tablet-card-min-width;
    min-height:$tablet-card-min-width;
    row-gap: 100px;
    column-gap: 20px;
  }
}

@include desktop{
  .wrapperGridCenter .wrapperGrids{
    @include grid(repeat(3, 1fr),repeat(3, 1fr));
    row-gap: 100px;
    column-gap: 20px;
  }
}

@include large-desktop{
  .wrapperGridCenter .wrapperGrids{
    @include grid(repeat(3, 1fr),repeat(3, 1fr));
    row-gap: 100px;
    column-gap: 20px;
  }
}