@import '../variables.scss';
@import '../mixins.scss';
.header{
  .swiper-wrapper{
    .swiper-slide{
      .hero_slide{
        overflow:hidden;
        @include flex;

        &_background_img{
          width:100vw;
          height: 100vh;
          object-fit: cover;
          background-position: center;
        }

        &::before{
          content:'';
          position:absolute;
          left:0;
          top:0;
          width: 100vw;
          height: 100vh;
          background-color: rgba($color:#000000, $alpha:0.6 );
        }

        &_item{
          position:absolute;
          @include grid (65% 35%,1fr 1fr 1fr);
          z-index:1;
          width:90vw;
          height:60vh;

          &_title{
            grid-column:1/span 1;
            grid-row:1/span 1;
            @include flex(row,start,center);
            font-size:calc(120 * var(--res));
            font-weight:500;
            color:transparent;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -ms-background-clip: text;
            -o-background-clip: text;
            background-clip: text;
            background-image: radial-gradient(circle at 43% 39%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 71% 44%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 50% 74%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 34% 20%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 44% 59%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 6% 48%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 94% 15%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 81% 40%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 7% 68%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 10% 37%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 5%,transparent 5%, transparent 100%),linear-gradient(321deg,rgb(254,254,5),rgb(254,63,3));
          }
          &_info{
            grid-column:1/span 1;
            grid-row:2/span 1;
            @include flex(row,start,center);
            font-weight: 500;
            font-size:calc(30*var(--res));
            color:#fff;
          }
          &_btn{
            grid-column:1/span 1;
            grid-row:3/span 1;
            @include flex(row,start,center);
            button{
              margin-left: 2vw;
              position:relative;
              //margin-right:3vw;
              padding: 2px 15px 5px;
              font-size: calc(44 *var(--res));
              text-align: start;
              border-radius: 10px;
              background: transparent;
              border: 2px solid #CE6A14;
              cursor:pointer;
              color:#fff;
              overflow:hidden;
              &::before{
                position:absolute;
                content:'';
                top:0;
                left:50%;
                width:0%;
                height: 100%;
                background-image: radial-gradient(circle at 43% 39%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 71% 44%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 50% 74%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 34% 20%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 44% 59%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 6% 48%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 94% 15%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 81% 40%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 7% 68%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 10% 37%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 5%,transparent 5%, transparent 100%),linear-gradient(321deg,rgb(254,254,5),rgb(254,63,3));
                border-radius:5px;
                transform:translateX(-50%);
                transition:width 0.5s ease-out;
                z-index:-1;
              }
              &:hover::before{
                width:110%;
              }
            }
          }
          &_title,
          &_info,
          &_btn{
            opacity:0;
            transform:translateY(-100px);
            transition : transform 0.7s ease, opacity 0.7s ease ;
          }
        
          &_float{
            @include flex;
            grid-column:2/span 1;
            grid-row:1/span 3;
            border-radius: 30px;
            &_img{
              height: 29vw;
              width: 30vw;
              object-fit: contain;
              border-radius: 30px;
              transform:scale(0);
              transition:transform 1.5s ease-out;
            }
          }
        }
        //animation at each swipe
        &.active > .hero_slide_item > .hero_slide_item_float > .hero_slide_item_float_img {
        transform:scale(1);
        }
        &.active > .hero_slide_item {
          .hero_slide_item_title,
          .hero_slide_item_info,
          .hero_slide_item_btn{
            transform: translateY(0px);
            opacity: 1;
          }
          .hero_slide_item_title{
            transition-delay: 1.1s, 1.1s;
          }
          .hero_slide_item_info{
            transition-delay: 1.4s, 1.4s;
          }
          .hero_slide_item_btn{
            transition-delay: 1.7s, 1.7s;
          }
        }
      }
    }
  }
} 

  
//BREAKPOINT

@include tablet {
  .header{
    .swiper-wrapper{
      .swiper-slide{
        .hero_slide{
          &_item{
            width:95vw;
            height:85vh;
            @include grid(50% 50%,25% 50% 25%);
            &_title{
              margin:0 auto;
              font-size:calc(100 * var(--res));
              @include flex;
              grid-column:1/span 2;
              grid-row:1/span 1;
            }
            &_info{
              margin-left:5vw;
              grid-column:1/span 1;
              grid-row:2/span 1
            }
            &_btn{
              @include flex;
              margin-left:0;
              grid-column:1/span 2;
              grid-row:3/span 1;
              margin-left:-60px;
              button{
                margin-left:60px;
              }
            }
            &_float{
              grid-column:2/span 1;
              grid-row:2/span 1;
              &_img{
                height: calc(430 * var(--res));
                width: calc(430 * var(--res));
              }
            }
          }
        }
      }
    }
  }
}
@include mobile{
  .header{
    .swiper-wrapper{
      .swiper-slide{
        .hero_slide{
          &_item{
            height:87vh;
            width:90vw;
            @include grid(1fr,25% 40% 25% 10%);
            &_title{
              @include flex;
              font-size:calc(110 * var(--res));
              grid-column:1/span 1;
              grid-row:1/span 1;
            }
            &_info{
              margin-top:2vh;
              font-size:calc(40*var(--res));
              grid-column:1/span 1;
              grid-row:3/span 1
            }
            &_btn{
              @include flex;
              grid-column:1/span 2;
              grid-row:4/span 1;
              margin-left:-30px;
              button{
                margin-left:30px;
              }

            }
            &_float{
              grid-column:1/span 1;
              grid-row:2/span 1;
              &_img{
                height: 40vh;
                width: 40vh;
              }
            }
          }
        }
      }
    }
  }
}     