//import
@import '../_mixins';
@import '../_variables';

/* Navigation */
#navbar{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:6;
  box-sizing: content-box;
  @include flex($flex-direction:column);
  
  .hamburger_menu{
    display: none;
  }

  #link{
    //position:fixed;
    @include flex(row,flex-end,center);
    width: 100vw;
    height:auto;
    
    &.link{
      background: rgb(255, 255, 255);
      .link_child .nav-link{
        color:black;
      }
    }


    .link_child{
      position:fixed;
      width:100vw;
      display:flex;
      
      &:first-child{
        justify-content:center; 
      }
      &_li{
        position:relative;
        font-size:18px;
        height:30px;
        margin:12px 15px;

        &::after{
          content:'';
          position:absolute;
          bottom:-2px;
          display:flex;
          left:50%;
          transform: translateX(-50%);
          transition:all 400ms ease-out;
          width:0%;
          height:3px;
          border-radius: 3px;
          background-color:#CE6A14;
        }

        
        &.active::after,&:hover::after{
          width:100%;
        }
        &.active .nav-link,&:hover .nav-link{
          color:#CE6A14;
        }

      }
      .btn{
        cursor:pointer;
        height: 30px;
        font-size:calc(30 * var(--res));
        margin:5px;
        padding:3px 15px 5px;
        color:#CE6A14;
        border-radius:5px;
        font-weight:770;
        &.log_in{
          display:none;
          margin:10px 0;
          position:relative;
          background-color:#ffd83c;
          border:0px solid transparent;
          &:active{
            background-color:  whitesmoke;
          }
        }
      }
    }

    &:first-child{
      justify-content:flex-end; 
    }
    .ecommerce_icons{
      img{
        height:30px;
        width:40px;
        filter:invert(1);
        margin-right:15px;
      }
    }
  }
  .catalog_list_background{
    position:absolute;
    width:100vw;
    height:200vh; 
    background:rgba(0, 0, 0, 0.299);
  }
  .catalog_list_parent{
    height:auto;
    .catalog_list_btn{
      position:absolute;
      font-size:calc(27 * var(--res));
      font-weight:500;
      left:0;
      top:45px;
      line-height: 2;
      padding:0 2vmin;
      background:$red;
      cursor:pointer;
      margin-left:5px;
      border-radius:7px;
      border:none;
      outline:none;
    }
    .catalog_list_wrapper{
      position:absolute;
      left:0;
      top:80px;
      width:230px;
      height:auto;
      transform:translateX(-100%);
      transition:transform 0.5s ease-out;
      &.active{
        transform:translateX(0%)
      }
    }
  }
}

// BREAKPOINT
@media screen and (max-width:$tablet-max-width) {
  #navbar #link {
    .link_child {
      position:absolute;
      flex-direction:column;
      align-items: center;
      top:0;
      left:0;
      height:100vh;
      width: 100vw;
      transform :translateX(-100%);
      background:rgba(0, 0, 0, 0.796);
      transition: transform 0.5s ease-in-out;
      z-index:2;
      //background-image:linear-gradient(180deg,rgba(0,0,0,1),rgba(0,0,0,0.6),rgba(0,0,0,0.4),rgba(0,0,0,0));

      &.active{
        transform :translateX(0%);
      }

      &_li{
        position:relative;

        &::after{
          content:'';
          position:absolute;
          display:flex;
          left:50%;
          transform: translateX(-50%);
          transition:all 400ms ease-in;
          width:0%;
          height:4px;
          border-radius: 2px;
          background-color:#CE6A14;
        }
        &.active::after,&:hover::after{
          width:100%;
        }
      }
    }
  }
  #navbar #link .link_child li .btn.log_in{
    display :block;
  }
  #navbar .hamburger_menu {
    display: block;
    position: absolute;
    top: 8px;
    left: 7px;
    width: auto;
    height: auto;
    min-height:25px;
    min-width:35px;
    cursor: pointer;
    z-index:3;

    .slice {
      position: absolute;
      width: 90%;
      height: calc(5*var(--res));
      min-height:3px;
      background: #fff;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;
      
      &:nth-child(1){
        top:0;
      }
      &:nth-child(2){
        top:calc(calc(20*var(--res)) + calc(5*var(--res)));
      }
      &:nth-child(3){
        top: calc(calc(40*var(--res)) + calc(10*var(--res)));
      }
    }
    &.active .slice:nth-child(1) {
      top: calc(20*var(--res));
      transform: rotate(135deg);
    }
    &.active .slice:nth-child(2){
      opacity: 0;
      transform: translateX(-10px);
    }
    &.active .slice:nth-child(3) {
      top: calc(22*var(--res));
      transform: rotate(-135deg);
    }
  }
  #navbar #link{
    width:100vw;
  }
}  

