.favorite_and_new_shoes_slider{
  width:100%;
  height:auto;
  padding-top:0;
  background: $background;
  user-select:none;
  .body_home_page{
    width:73%;
  }
  h2{
    font-size: calc(80 * var(--res));
  }
}

.slideshow-container{
  position:relative;
  overflow: hidden;
  height:35vw;
  cursor:grab;
  margin-top:2vmin;
  margin-bottom:10vmin; 

  &:active{
    cursor:grabbing;
  }
  .slideshow{
    position :absolute;
    display:flex; 
  }
}


//Responsive
@media screen and (max-width:$tablet-max-width){
  .favorite_and_new_shoes_slider{
    width:100%;
  }
  .slideshow-container .slideshow .child{
    margin:0 4vmin 0;
  }
}

@include mobile{
   .slideshow-container{
     height:50vw;
     min-height:130px; 
  }
}

@include tablet {
  .slideshow-container {
    height:40vw; 
  }
}