.new_size_wrapper {
  .size_list {
    @include flex(row, flex-start);
  }
  .sizeError {
    width: 100%;
    height: 10vmin;
    padding: 1vmin 3vmin;
    color: red;
    background: rgba(255, 5, 5, 0.268);
    border-radius: 5px;
  }
}
