.productViewModal{ 
  position:fixed;
  width:100vw;
  height:100vh;
  top:0;
  left:0;
  z-index:-5;
  display: none; 
  &.active{
    z-index:5;
    display:block; 
  }
}
// .backgroundProduct .productWrapper.modal{
//    left:48vw;
  // top:47vh;
  // height:80vh;
  // width:80vw;
  // box-shadow: none; 
  // background: none;
  // .productInfo .imageSliderWrapper{
  //   height: 28vw;
  //   width: 28vw;
  //   min-height: 230px;
  //   min-width: 230px;
  //   .imageSlider{
  //     height: 100%;
  //     width: 100%;
  //     border-radius:7px;
  //     object-fit:cover;
  //   }
  // }
  // .shoesInfoItem{
  //   width:90%;
  //   h3{
  //     font-size: calc(65 * var(--res));
  //   }
  //   p{
  //     font-size: calc(25 * var(--res));
  //   }
  //   .size_wrapper{
  //     font-size: calc(20 * var(--res));
  //     span{
  //       color:$red;
  //     }
  //   }
  //   .buy_and_add_product_button{
  //     button{
  //       font-size:12px;
  //       margin-right:20px;
  //     }
  //   }
  // }
  
// }