@import '../_mixins';
@import '../_variables.scss';

.backgroundProduct{
  position:absolute;
  top:0;
  left:0;
  height: 100vh;
  width:100vw;
  background: rgba(0, 0, 0, 0.752);
  z-index:1;
}
  
.backgroundProductImg{  
  height: 100vh;
  width:100vw;
  object-fit: cover;
}
.productWrapper{
  position:absolute;
  width:90vw;
  height: 80vh;
  top:50vh;
  left:50vw;
  transform:translate(-50% ,-50%);
  border-radius: 10px;
  box-shadow: 20px 30px 20px rgba(0, 0, 0, 0.403); 
  background: rgba(182, 179, 179,0.2);
  @include flex($flex-direction:column);
  z-index: 2;
  //backdrop-filter: blur(50px);
  
  
  .productInfo{
    @include grid(repeat(4, 25%), repeat(3, 33%));
    height:100%;
    width:100%;

    .productImageSlider{
      grid-column:1/span 2;
      grid-row:1/span 3;
      height:100%;
      width:100%;
      .swiper-slide{
        @extend %flex-center;
        border-radius:10px;
        .imageSliderWrapper{
          height: 30vw;
          width: 30vw;
          min-height: 300px;
          min-width: 300px;
          border-radius:10px;
          
          .imageSlider{
            height: 100%;
            width: 100%;
            border-radius:10px;
            object-fit:cover;
            border-radius:10px;
          }
        }
      }
      //swiper class
        .swiper-button-prev{
          left:0;
          color:$yellow;
        }
        .swiper-button-next{
          right:0;
          color:$yellow;
        }
    }
    
    .shoesInfoItem{
      grid-column:3/span 2;
      grid-row:1/span 1;
      @include flex(column,space-between,flex-start);
      width: 40vw;
      height:auto;
      margin:auto ;
      
      h3,p,div{
        //margin-bottom:1vw;
        color:#fff;
      }
      h3{
        font-size: calc(80 * var(--res));
        color:$yellow;
      }
      p{
        font-weight:500;
        font-size:calc(30 * var(--res));
      }
      div{
        span{
          font-size:14px;
        }
      }
    }
      
    .thumbsSizeQuantityButton{
      grid-column:3/span 2;
      grid-row:2/span 2;
      @include flex(column,space-between,flex-start);
      width: 90%;
      height:auto;
      margin:auto ;
      
      .productImageSliderThumbs{
        width:100%;
        height:auto;
        
        // class of swiper js
        .swiper-slide{
          border:3px solid rgba(0, 0, 0, 0);
          margin:0.5vw;
          padding:0;
          border-radius:5px;
          height:auto;
          width:auto;
          &-thumb-active{
            border-color:$yellow;
          }
          // ProductView class
          .other_color_img_wrapper{
            height:100%;
            width:100%;
            margin:0;
            .other_color_img{
              border-radius:5px;
              @extend %back-img;
              cursor:pointer;
            }
          }
        }
        
      }
      .size_wrapper {
        margin:calc(25 * var(--res)) 0;
        .size{
          color:#FFF;
          width:40px;
          height:40px;
          font-size:20px;
          border-radius: 3px;
          border:2px solid rgb(138, 138, 138);
          margin-right:10px;
          padding: 0 7px;
          cursor:pointer;
          &.active{
            border:2px solid $yellow;
          }
        }
      }
      .product_quantity{
        color:#fff;
        @extend %flex-center;
        width: 100px;
        margin-bottom:calc(25 * var(--res));
        &_btn{
          border:1px solid #fff;
          border-radius:3px;
          margin-right:10px;
          padding:0 5px;
          img{
            height:15px;
            width:15px;
            cursor:pointer;
            filter:invert(1);
          }
          &:active{
            border:1px solid $yellow;
          }
        }
        &_item{
          font-size: 20px;
          margin-right:10px;
        }
      }
      .buy_and_add_product_button{
        @extend %flex-center;
        button{
          font-size:calc(35 * var(--res));
          margin-right:20px;
        }
      }
    }
  
  } 
}

// redesign in modal mode
.productWrapper.modal{
  left:47vw;
  top:53vh;
  height:65vh;
  width:80vw;
  box-shadow: none; 
  background: none;
  .productInfo{
    .productImageSlider{
      .imageSliderWrapper{
        height: 28vw;
        width: 28vw;
        min-height: 230px;
        min-width: 230px;

        .imageSlider{
          height: 100%;
          width: 100%;
          border-radius:7px;
          object-fit:cover;
        }
      }
    }
    .shoesInfoItem{
      width:90%;
      h3{
        font-size: calc(65 * var(--res));;
      }
      p{
        font-size: calc(15 * var(--res));;
        font-size:14px;
      }
      .size_wrapper{
        span{
          font-size:13px;
        }
      }
      .buy_and_add_product_button{
        button{
          font-size:12px;
          margin-right:20px;
        }
      }
    }
  }
  

  .productImageSliderThumbs{
    width:100%;
    height:48px;
  }
}

//BREAKPOINT
  // BREAKPOINT Tablet
@include tablet {
  .productWrapper .productInfo {
    @include grid(repeat(4, 1fr), repeat(4, 1fr));
    .productImageSlider{
      grid-column:1/span 2;
      grid-row:1/span 2;
      margin-left:1vh;
      .imageSliderWrapper{
        margin: calc(10 * 0.41vmax) auto;
        height: 30vw;
        width: 30vw;
        min-height: 400px;
        min-width: 400px;
      }

    }

    .shoesInfoItem{
      grid-column:3/span 2;
      grid-row:1/span 2;
      h3,p,div{
        margin-bottom:3vh;
      }
    }
    .thumbsSizeQuantityButton{
      grid-column:1/span 4;
      grid-row:3/span 2;
      .productImageSliderThumbs{
        margin-bottom:4vh;
      }
      .size_wrapper {
        margin-bottom:4vh;
      }
      .product_quantity{
        margin-bottom:4vh;
      }
    }
  }
}
// mobile 
@include mobile{
  .productWrapper {
    height: 90vh;
    .productInfo {
      @include grid(repeat(1,100%), 15% 25% 25% 35%);
      .productImageSlider{
        grid-column:1/span 1;
        grid-row:2/span 2;
        .imageSliderWrapper{
          height: 15vw;
          width: 15vw;
          // min-height: 230px;
          // min-width: 230px;
        }

      }
  

      .shoesInfoItem{
        grid-column:1/span 1;
        grid-row:1/span 1;
        width:90%;
      }
      .thumbsSizeQuantityButton{
        grid-column:1/span 1;
        grid-row:4/span 1;
        // .productImageSliderThumbs{
        //   margin-bottom:4vh;
        // }
        // .size_wrapper {
        //   margin-bottom:4vh;
        // }
        // .product_quantity{
        //   margin-bottom:4vh;
        // }
      }
    }
  } 
}