@import '../_mixins';
@import '../_variables';

.productCard{
  position:relative;
  overflow:hidden;
  border-radius: 8px;
  transition: transform  0.5s  ease-out;
  overflow:hidden;
  

  &::after{
    position:absolute;
    content:'';
    bottom:0;
    left:0;
    height:100%;
    width:100%;
    opacity:0;
    background-image:linear-gradient(0deg,rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.3),rgba(0, 0, 0, 0));
    z-index:1;
    border-radius: 8px;
    transform:scale(1);
    transition:opacity 0.5s ease-out ;
  }
  .productCardImg{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 8px;
    transform:scale(1);
    transition:transform 0.5s ease-out;
    will-change:transform;
  }
  .productCardInfo{
    position:absolute;
    color:$txt-white;
    width:100%;
    height:auto;
    bottom:10px;
    margin-left:5px;
    z-index:2;
    text-align: start;
    
    .productCardPrice{
      color:$yellow;
      margin:2px;
      font-size: calc(40 * var(--res));
      transform:translateY(85px);
      transition:transform 0.4s ease;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.198);
    }
    .productCardName{
      margin:5px;
      font-size: 13px;
      transform:translateY(110px);
      opacity:0;
      transition:transform 0.4s ease,opacity 0.6s ease;
    }
    .productCardButton{
      margin:5px;
      opacity:0;
      transform:translateY(100px);
      transition:transform 0.4s ease,opacity 0.6s ease;
    }
  }
  &:hover{
    .productCardImg{
      transform:scale(1.35);
    }
    transform:scale(1.1);
    &::after{
      opacity:1;
    }
    .productCardInfo .productCardPrice{
      transform:translateY(0px)
    }
    .productCardInfo .productCardName{
      transform:translateY(0px);
      opacity:1;
      transition-delay:0.3s,0.3s;
    }
    .productCardInfo .productCardButton{
      transform:translateY(0px);
      opacity:1;
      transition-delay:0.7s,0.7s;
    }
  }
}

//BREAKPOINT

//mobile
@include mobile{

  .productCard{
    @include mobile{
      min-width:$mobile-card-min-width;
      min-height:$mobile-card-min-width;
      width:87vw;
      height:87vw;
    }
  }
}
//tablet
@include tablet{

  .productCard{
    @include tablet{
      min-width:$tablet-card-min-width;
      min-height:$tablet-card-min-width;
      width:40vw;
      height:40vw;
    }
  }
}
//desktop
@include desktop{

  .productCard{
    @include desktop{
      min-width:$desktop-card-min-width;
      min-height:$desktop-card-min-width;
      width:27vw;
      height:27vw;
    }
  }
}
//large desktop
@include large-desktop{

  .productCard{
    @include large-desktop{
      min-width:$large-desktop-card-min-width;
      min-height:$large-desktop-card-min-width;
      width:27vw;
      height:27vw;
    }
  }
}