.related_products {
  height: 45vw;
  width: 95%;
  margin: 10vmin auto;
  background: $background;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  &_title {
    height: auto;
    width: 100%;
    overflow: hidden;
    @include flex;

    h1 {
      font-size: calc(80 * var(--res));
      margin: 1vmin 0;
      font-weight: 500;
      @extend %title;
      &.active {
        transform: translateY(0);
      }
    }
  }
  &_child {
    @include flex($justify-content: space-around);
    margin-bottom: 5vmin;
    flex-wrap: wrap;
    width: 100%;
  }
}
@media screen and (max-width: $tablet-max-width) {
  .related_products {
    height: auto;
    &_child {
      @include flex($flex-direction: column);
    }
  }
}
