.search_results{
  width:100vw;
  margin:auto;
  .search_results_body{
    position:relative;
    @include flex(row,space-between,flex-start);
    width:98%;
    margin:auto;
    &_child{
      h1{
        font-size: calc(105 * var(--res));
        font-weight: 500;
        margin:5vh auto;
      }
    }

    .products_filter{
      position:sticky;
      top:0;
      width:28%;
      height:auto;
      background:$background;
      padding: 5px 2vw;
      h2{
        font-size: calc(32 * var(--res));
        font-weight: 700;
        margin:0.5vmin 0;
        user-select:none;
        span{
            color:$red;
        }
      }
      
    }
    .search_results_body_child{
      width:70%;
    }
  }
}
@include mobile {
  .search_results .search_results_body{
    flex-direction: column;
  }
}
@include tablet {
  .search_results .search_results_body{
    flex-direction: column;
  }
}
// @include large-desktop {
//   .search_results .search_results_body{
//     flex-direction: column;
//   }
// }