@import "../_variables"; 
@import "../_mixins";

.Search_wrapper{
  position:relative;
  margin:5px;
  height:auto;
  width:auto;

  &::after{
    @include absolute(50%,100%,50%,0%);
    @include pseudo(2px,0);
    background:$toggle-white-black;
    z-index: 1;
    border-radius:10px;
    transition:width 0.5s ease-out;
    
  }
  input{
    height:100%;
    width:auto;
    opacity:0;
    background:none;
    border:none;
    outline:none;
    color:$toggle-white-black;
    transition:opacity 0.5s ease-out;
  }
  .Search_icon{
    height:20px;
    width:20px;
    filter:invert(1);
    margin:0 5px;
    cursor:pointer;
  }
  .dynamic_search_results{
    position:absolute;
    background:white;
    z-index: 1;
    border-radius: 5px;
    width:70vmin;
    .dynamic_search_item{
      position:relative;
      margin:5px;
      display:flex;
      flex-wrap: nowrap;
      height:70px;
      width:100%;
      z-index:1;
      &::before{
        @include absolute(0,0,0,0);
        @include pseudo(100%,100%);
        z-index:2;
      }
      &:hover::before{
        background:rgba(0, 0, 0, 0.402);
      }
      &_img{
        height:50px;
        width: 100px;
        img{
          height:100%;
          width: 100%;
        }
      }
      &_content{
        text-overflow:ellipsis;
        line-height: 10px;
        &_category{
          font-size:12px ;
          color:rgb(128, 128, 128)
        }
        &_price{
          color:$yellow;
        }
        &_name{
          font-weight: 580;
          font-size: 10px;
        }
      }
    }

  }
}


.Search_wrapper.animSearch{
  &::after{
    width:100%;
  }
  input{
    opacity:1;
  }
}