@import "../_variables"; 
@import "../_mixins";

.Search_wrapper{
  position:relative;
  margin:5px;
  height:auto;
  width:auto;

  &::after{
    @include absolute(50%,100%,50%,0%);
    @include pseudo(2px,0);
    background:$toggle-white-black;
    z-index: 1;
    border-radius:10px;
    transition:width 0.5s ease-out;
    
  }
  input{
    height:100%;
    width:auto;
    opacity:0;
    background:none;
    border:none;
    outline:none;
    color:$toggle-white-black;
    transition:opacity 0.5s ease-out;
  }
  .Search_icon{
    height:20px;
    width:20px;
    filter:invert(1);
    margin:0 5px;
    cursor:pointer;
  }
  .dynamic_search_results{
    @include absolute($top:37px,$y:0%);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.496);
    background:white;
    z-index: 1;
    border-radius: 5px;
    width:80vmin;
    .triangle{
      @include absolute($top:-7px,$y:0%);
      @include pseudo(0,0,transparent);
      border-bottom:7px solid #fff;
      border-left:7px solid transparent;
      border-right:7px solid transparent;
    }
    .dynamic_search_item{
      position:relative;
      padding:5px;
      display:flex;
      flex-wrap: nowrap;
      height:calc((80vmin * 15)/100);
      width:100%;
      z-index:1;
      cursor:pointer;
      &::before{
        @include absolute(0,0,0,0);
        @include pseudo(100%,100%);
        z-index:2;
      }
      &:hover::before{
        background:rgba(0, 0, 0, 0.26);
      }
      &_img{
        height:100%;
        width: 15%;
        margin-right:5px;
        img{
          height:100%;
          width: 100%;
        }
      }
      &_content{
        text-overflow:ellipsis;
        line-height: calc(80vmin /36);
        width:85%;
        &_price{
          color:$yellow;
          font-size:calc(80vmin /36);
        }
        &_category{
          font-size:calc(80vmin /36);
          color:rgb(128, 128, 128)
        }
        &_name{
          font-weight: 580;
          font-size: calc(80vmin /42);
        }
      }
    }

  }
}


.Search_wrapper.animSearch{
  &::after{
    width:100%;
  }
  input{
    opacity:1;
  }
}