.op_sign {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 7;
  opacity: 0.9;
  background-image: radial-gradient(
      circle 8px at 80% 68%,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 8px at 24% 41%,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 6px at 34% 66%,
      rgb(45, 45, 45) 0%,
      rgb(45, 45, 45) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 6px at 56% 55%,
      rgb(45, 45, 45) 0%,
      rgb(45, 45, 45) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 6px at 11% 60%,
      rgb(45, 45, 45) 0%,
      rgb(45, 45, 45) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 6px at 6% 89%,
      rgb(45, 45, 45) 0%,
      rgb(45, 45, 45) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 6px at 0% 36%,
      rgb(45, 45, 45) 0%,
      rgb(45, 45, 45) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 12px at 20% 56%,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 12px at 44% 56%,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 12px at 0% 43%,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle 12px at 19% 33%,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 50%,
      transparent 50%,
      transparent 100%
    ),
    radial-gradient(
      circle at center left,
      rgb(35, 35, 35) 0%,
      rgb(35, 35, 35) 10%,
      transparent 10%,
      transparent 90%
    ),
    linear-gradient(135deg, rgb(231, 16, 16), rgb(231, 158, 27));
  //background-image: radial-gradient(circle at 43% 39%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 71% 44%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 2%,transparent 2%, transparent 100%),radial-gradient(circle at 50% 74%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 34% 20%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 44% 59%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 8%,transparent 8%, transparent 100%),radial-gradient(circle at 6% 48%, rgba(0,0,0,0.02) 0%, rgba(0,0,0,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 94% 15%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 81% 40%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 7% 68%, rgba(0,0,0,0.03) 0%, rgba(0,0,0,0.03) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 10% 37%, rgba(0,0,0,0.01) 0%, rgba(0,0,0,0.01) 5%,transparent 5%, transparent 100%),linear-gradient(321deg,rgb(254,254,5),rgb(254,63,3));}
}
.wrapper_sign {
  position: fixed;
  @include flex($flex-direction: column);
  margin: 20px auto;
  width: 40vw;
  min-width: 260px;
  height: 350px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-out;
  z-index: 7;

  // //ajout de backdrop filter pour une meilleur vision
  // &.backdrop{
  //   backdrop-filter:blur(105px);
  //   background: blue;
  // }

  form {
    @include flex($flex-direction: column);
    width: 30vw;
    min-width: 230px;

    h1 {
      margin: 8px;
      color: #fff;
      width: auto;
      white-space: nowrap;

      span {
        position: absolute;
        top: -32px;
        right: -25px;
        font-size: 32px;
        cursor: pointer;
      }
    }
    .inputBox {
      position: relative;
      width: inherit;
      height: 30px;
      margin: 13px 0;
      min-width: inherit;
      input {
        position: absolute;
        top: 50%;
        right: 0;
        height: inherit;
        width: inherit;
        min-width: inherit;
        border: none;
        outline: none;
        border-radius: 5px;
        color: #fff;
        // padding-left pour faire apparaitre les icons dans l'input
        padding-left: 21px;
        transform: translateY(-50%);
        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
        background: rgba(255, 255, 255, 0.3);
      }
      img {
        position: absolute;
        top: 7px;
        left: 3px;
        height: 15px;
        width: 15px;
        filter: invert(1);
      }
      .inputAlert {
        position: absolute;
        top: 30px;
        left: 0;
        width: auto;
        height: auto;
        padding: 5px;
        background: rgb(243, 25, 25);
        z-index: 2;
        font-size: 10px;
        border-radius: 5px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.451);
        color: #fff;

        span {
          position: absolute;
          top: -5px;
          left: 22px;
          width: 0;
          height: 0;
          transform: translateX(-50%);
          border-bottom: 5px solid rgb(243, 25, 25);
          border-right: 5px solid transparent;
          border-left: 5px solid transparent;
        }
        small {
          img {
            width: 12px;
            height: 12px;
          }
          padding: 12px;
        }
      }
    }
    .submit {
      margin: 5px;
      padding: 7px 10px;
      width: 10vw;
      min-width: 95px;
      background-color: #fff;
      color: rgb(92, 91, 91);
      cursor: pointer;
      border-radius: 30px;

      &:active {
        color: #fff;
        background: rgba(255, 255, 255, 0.3);
      }
    }
    .firebaseErrMes {
      height: auto;
      width: auto;
      color: red;
      background: #fff;
      font-size: 15px;
      padding: 0 5px;
    }
  }
}

//RESPONSIVE

@media screen and (max-width: 680px) {
  .op_sign {
    background-image: radial-gradient(
        circle 7px at 84% 90%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 7px at 81% 15%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 7px at 2% 78%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 7px at 41% 48%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 7px at 77% 61%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 0% 53%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 78% 89%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 40% 61%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 53% 74%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 5px at 75% 87%,
        rgb(56, 56, 56) 0%,
        rgb(56, 56, 56) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 12px at 66% 50%,
        rgb(43, 43, 43) 0%,
        rgb(43, 43, 43) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 12px at 56% 29%,
        rgb(43, 43, 43) 0%,
        rgb(43, 43, 43) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 12px at 87% 94%,
        rgb(43, 43, 43) 0%,
        rgb(43, 43, 43) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 12px at 97% 6%,
        rgb(43, 43, 43) 0%,
        rgb(43, 43, 43) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle 12px at 65% 56%,
        rgb(43, 43, 43) 0%,
        rgb(43, 43, 43) 50%,
        transparent 50%,
        transparent 100%
      ),
      radial-gradient(
        circle at top center,
        rgb(35, 35, 35) 0%,
        rgb(35, 35, 35) 10%,
        transparent 10%,
        transparent 90%
      ),
      linear-gradient(311deg, rgb(231, 158, 27), rgb(231, 16, 16));
  }
}
@media screen and (max-width: 500px) {
  .wrapper_sign form .inputBox {
    height: 25px;
    margin: 10px 0;
    input {
      border-radius: 3px;
    }

    img {
      top: 5px;
    }
  }
}
