.productWrapper .thumbsSizeQuantityButton{
  grid-row:2/span 2;
  grid-column:3/span 2;
  @include flex(column,space-between,flex-start);
  width: 90%;
  height:auto;
  margin:auto ;
  
  .productImageSliderThumbs{
    width:100%;
    height:auto;
    
    // class of swiper js
    .swiper-slide{
      border:3px solid rgba(0, 0, 0, 0);
      padding:0;
      border-radius:5px;
      height:calc(115 * var(--res));
      width:calc(115 * var(--res))!important;
      &-thumb-active{
        border-color:$yellow;
      }
      // ProductView class
      .other_color_img_wrapper{
        height:100%;
        width:100%;
        margin:0;
        .other_color_img{
          border-radius:5px;
          @extend %back-img;
          cursor:pointer;
        }
      }
    }
    
  }
  .size_wrapper {
    margin:calc(20 * var(--res)) 0;
    .size{
      color:#FFF;
      font-size:calc(27 * var(--res));
      border-radius: 3px;
      border:2px solid rgb(138, 138, 138);
      margin-right:calc(10 * var(--res));
      padding: 0 calc(5 * var(--res));
      cursor:pointer;
      user-select: none;
      &.active{
        border:2px solid $yellow;
      }
    }
  }
  .product_quantity{
    color:#fff;
    @include flex($justify-content:flex-start);
    user-select: none;
    width: 100%;
    height:auto;
    font-size:calc(25 * var(--res));
    margin-bottom:calc(20 * var(--res));
    &_btn{
      border:1px solid #fff;
      border-radius:3px;
      margin-right:10px;
      padding: 2px calc(5 * var(--res));
      img{
        height:calc(25 * var(--res));
        width:calc(25 * var(--res));
        cursor:pointer;
        filter:invert(1);
      }
      &:active{
        border:1px solid $yellow;
      }
    }
    &_item{
      font-size: 20px;
      margin-right:10px;
    }
  }
  .buy_and_add_product_button{
    @extend %flex-center;
    white-space:nowrap;
    button{
      font-size:calc(30 * var(--res));
      margin-right:2vmin; 
      padding:1vmin 4.5vmin;
      font-weight:500;
      cursor:pointer;
      color:rgb(250, 247, 221);
      border:none;
      border-radius:4px; 
      &:first-child{
        background: $red;
      } 
      &:nth-child(2){
        background: $background-image; 
      }
      &.go_to_product_page{
        background:$background-image ;
        padding: 1vmin;
      } 
    }
  }
}

.buy_and_add_product_button button:nth-child(2) { 
  @include flex; 
  .loading{
    width:4vmin;
    height:4vmin;
    @include flex ;
    background:transparent;
    transform:scale(0);
    .child{
      position:relative; 
      width:60%;
      height:60%;
      border:3px solid white;
      border-radius:50%;
      transform:rotate(0deg); 
      div{
        position:absolute;
        top: -50%;
        left: -50%; 
        width:100%;
        height:100%;
        background:$red;
      }
    }
  }
  .add_to_cart_txt{
    transform:translateX(-13%);
  }
  &.active{  
    .loading{ 
      animation: scaleLoading  3s ;
      .child{ 
        animation: loading  3s ;
      }
    } 
    .add_to_cart_txt{  
      animation: translateTxt  3s ;
    }
  }
} 
@keyframes scaleLoading {
  0%{
    transform:scale(0);
  } 
  20%{
    transform:scale(1); 
  } 
  100%{
    transform:scale(1);
  }
}

@keyframes loading {
  0%{
    transform:rotate(0deg);
  }
  100%{
    transform:rotate(1360deg);
  }
}

@keyframes translateTxt {
  0%{
    transform:translateX(-13%)
  }
  20%{
    transform:translateX(0)
  }
  100%{
    transform:translateX(0)
  }
}
//Responsive 

@media screen and (max-width:$tablet-max-width) {
  .backgroundProduct .productWrapper .thumbsSizeQuantityButton{
        grid-column:1/span 1;
        grid-row:4/span 1;
        justify-content:flex-start;
       .buy_and_add_product_button{
          margin-bottom:2vw;
        }
  }
}

