.view_button {
  @include flex;
  color: white;
  background: $red;
  padding: 1vw 4vw;
  line-height: 1;
  border-radius: 5px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  &:active {
    background: $red-active;
  }
}

//tablet
@include tablet {
  .view_button {
    padding: 1.5vw 6vw;
  }
}

//mobile
@include mobile {
  .view_button {
    padding: 3vw 12vw;
  }
}
