@import '../../scss/_mixins';
@import '../../scss/_placeholders';
.parent{
  width:80vw;
  height:80vh;
  @include flex($flex-direction:column);
  background-color: rgb(210, 210, 210);
  margin:10vh auto;
  input{
    background-color: red;
    padding:13px;
    color:red;
  }
}