@import '../../scss/_mixins';
@import '../../scss/_placeholders';
.parent{
  width:90vw;
  height:80vh;
  @include flex;
  background-color: red;
  margin:30px auto;
  
  visibility: visible;
  transition: visibility 0.5s ease;
  img{
    @extend %back-img;
  }
  &:hover{
      visibility: hidden;
  }
}