@import '../../scss/_mixins';
.parent{
  width:90vw;
  height:80vh;
  @include flex;
  margin:30px auto;
  background:rgb(233, 233, 23);

  .child{
    width:30vw;
    height:100%;
    &_1{
      background:red;
      width:30vw;
      height:100%;
    }
    &_2{
      background:rgb(13, 0, 255);
      width:30vw;
      height:100%;
    }
    &_3{
      background:rgb(72, 255, 0);
      width:30vw;
      height:100%;
    }
  }
}