
.footer_parent{
  display:flex;
  justify-content:center;
  background-image:linear-gradient(30deg,rgba(5, 30, 255, 0.904), rgba(5, 163, 255, 0.884), rgb(184, 5, 255), rgb(255, 5, 5));


  footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-grow: 1;
    flex-shrink:0;


    .footer_list{
      list-style-type:none;
      li{
        color:whitesmoke;
      }
    }

    img {
      width: 30px;
    }
  }
}