/* Navigation */
#navbar{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:5;
  box-sizing: content-box;
  
  .link{
    position:fixed;
    display:flex;
    width: 100vw;
    height:auto;
    background-image:linear-gradient(180deg,rgba(0,0,0,0.9),rgba(0,0,0,0.7),rgba(0,0,0,0.25),rgba(0,0,0,0));

    .link_child{
      position:fixed;
      width:100vw;
      display:flex;
      //height:80px;
      
      &:first-child{
        justify-content:center; 
      }
      li{
        position:relative;
        font-size:16px;
        height:30px;
        margin:5px 15px;

        &::after{
          content:'';
          position:absolute;
          bottom:0;
          display:flex;
          left:50%;
          transform: translateX(-50%);
          transition:all 400ms ease-out;
          width:0%;
          height:3px;
          border-radius: 3px;
          background-color:#CE6A14;
        }
        .btn{
          &.log_in{
            display:none;
            color:rgb(255, 255, 255);
            border-radius:20px;
            background-color:#ff973c;
            border:2px solid #CE6A14;
            margin-right: 5px;
              
            &:hover{
              background-color: #ac5a11;
              border:2px solid #ac5a11;
            }
            &:active{
              background-color: #d17f37;
              border:2px solid #d17f37;
            }
          }

        }

        &.active::after,&:hover::after{
          width:100%;
        }
        &.active .nav-link,&:hover .nav-link{
          color:#CE6A14;
        }

      }
    }

    &:first-child{
      justify-content:flex-end; 
    }
    /* sign up button and log in button 
      (But we have two button log in, one in link and one in list of link_child)*/
    .btn{
      box-sizing: border-box;
      cursor:pointer;
      height: 30px;
      font-size:13px;
      margin:5px 12px;
      padding:3px 15px 5px;
      color:#CE6A14;
      border-radius:10px;
      font-weight:770;
      
      &.sign_up{
        position:relative;
        border:2px solid #8c4202;
        background-color: transparent;
        &:hover{
          background-color: whitesmoke;
          border:2px solid transparent;
        }
        &:active{
          background-color: rgb(177, 175, 175);
          border:2px solid transparent;
        }
      }

      &.log_in{
        position:relative;
        display :block;
        background-color:#ffd83c;
        margin-right: 35px;
        border:0px solid transparent;

        &:hover{
          background-color: #ac5a11;
        }
        &:active{
          background-color: #d17f37;
        }
      }
    }
  }
}


// A List of categories of shoes 
.style_link_category{
  position:relative;
  
  .li_category{ 
    font-size:16px;
    margin:5px 18px 5px -10px;
    cursor:pointer;
    color:white;
    &::after{
      content:'';
      position:absolute;
      top:32px;
      z-index:3;
      left:30%;
      transform: translateX(-50%);
      transition:all 400ms ease-out;
      width:0%;
      height:3px;
      border-radius: 2px;
      background-color:#CE6A14;
    }
  }
  #category_ul{
    position:absolute;
    top:50px;
    left: -60px;
    transition:all 500ms ease-out;
    opacity:1;
    height: 0;
    border-radius:5px;
    width: auto;
    overflow:hidden;
    background:#2f0501;
  
    &:hover{
      background:#2F0501;
    }
  
    ul{
      .catLi{
        position:relative; 
        font-size:1rem;
        padding:8.4px;
        text-indent: 10px;
        text-align: start;
        overflow:hidden;
        
        .nav-link{
          white-space:nowrap;
          font-weight: 400;
        }
        div{
          position:absolute;
          transform:translate(-50%,-50%);
          background: #fff;
          border-radius:50%;
          animation: animCat 1s linear infinite;
          pointer-events: none;
        }
        @keyframes animCat{
          0%{
            width:0;
            height:0;
            opacity:1;
          }
          100%{
            width: 300px;
            height:300px;
            opacity:0;
          }
        }
      }
    }    
  }
  &:hover div::after{
    width:90%;
  }
  &:hover div,&.active div{
    color:#CE6A14;
  }
}


// hamburger for responsive of navbar
#navbar .link .hamburger_menu{
  display: none;
}


// Add of class for animation with Javascript
#navbar.navbar{
  background-image:linear-gradient(180deg,rgba(0,0,0,0.9),rgba(0,0,0,0.6),rgba(0,0,0,0.25),rgba(0,0,0,0));
}
#category_ul.category_ul{
  height:384px;
}


// RESPONSIVE 
@media screen and (max-width:800px) {
  #navbar .link .link_child {
    position:absolute;
    flex-direction:column;
    align-items: center;
    top:0;
    height:200px;
    width: 100vw;
    transform :translateY(-100%);
    background:rgba(0, 0, 0, 0.796);
    transition: transform 0.5s ease-out;
    z-index:1;
    //background-image:linear-gradient(180deg,rgba(0,0,0,1),rgba(0,0,0,0.6),rgba(0,0,0,0.4),rgba(0,0,0,0));
     
    &.active{
      transform :translateY(0%);
    }

    li{
      position:relative;

      &::after{
        content:'';
        position:absolute;
        display:flex;
        left:50%;
        transform: translateX(-50%);
        transition:all 400ms ease-in;
        width:0%;
        height:4px;
        border-radius: 2px;
        background-color:#CE6A14;
      }
      &.active::after,&:hover::after{
        width:100%;
      }
    }
  }
  #navbar .link .btn.log_in{
    display :none;
  }
  #navbar .link .link_child li .btn.log_in{
    display :block;
  }
  #navbar .link .hamburger_menu {
    display: block;
    position: relative;
    margin-left: 30px;
    top: 8px;
    right: 25px;
    width: 40px;
    height: 38px;
    cursor: pointer;
    z-index:2;

    .slice {
      position: absolute;
      width: 100%;
      height: 4px;
      background: #fff;
      border-radius: 4px;
      transition: all 0.5s ease-in-out;
      
      &:nth-child(1){
        top:0;
      }
      &:nth-child(2){
        top:10px;
      }
      &:nth-child(3){
        top:20px;
      }
    }
    &.active .slice:nth-child(1) {
      top: 10px;
      transform: rotate(135deg);
    }
    &.active .slice:nth-child(2){
      opacity: 0;
      transform: translateX(-10px);
    }
    &.active .slice:nth-child(3) {
      top: 10px;
      transform: rotate(-135deg);
    }
  }
  #navbar .link{
    width:100vw;
  }
}  

