%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
%back-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
%title {
  transform: translateY(110%);
  white-space: nowrap;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  transition: transform 0.8s ease-out;
  background-image: radial-gradient(
      circle at 43% 39%,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.02) 2%,
      transparent 2%,
      transparent 100%
    ),
    radial-gradient(
      circle at 71% 44%,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.02) 2%,
      transparent 2%,
      transparent 100%
    ),
    radial-gradient(
      circle at 50% 74%,
      rgba(0, 0, 0, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 8%,
      transparent 8%,
      transparent 100%
    ),
    radial-gradient(
      circle at 34% 20%,
      rgba(0, 0, 0, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 8%,
      transparent 8%,
      transparent 100%
    ),
    radial-gradient(
      circle at 44% 59%,
      rgba(0, 0, 0, 0.01) 0%,
      rgba(0, 0, 0, 0.01) 8%,
      transparent 8%,
      transparent 100%
    ),
    radial-gradient(
      circle at 6% 48%,
      rgba(0, 0, 0, 0.02) 0%,
      rgba(0, 0, 0, 0.02) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 94% 15%,
      rgba(0, 0, 0, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 81% 40%,
      rgba(0, 0, 0, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 7% 68%,
      rgba(0, 0, 0, 0.03) 0%,
      rgba(0, 0, 0, 0.03) 5%,
      transparent 5%,
      transparent 100%
    ),
    radial-gradient(
      circle at 10% 37%,
      rgba(0, 0, 0, 0.01) 0%,
      rgba(0, 0, 0, 0.01) 5%,
      transparent 5%,
      transparent 100%
    ),
    linear-gradient(321deg, rgb(254, 254, 5), rgb(254, 63, 3));
}

%dark-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.299);
}
%button {
  font-size: 2.5vmin;
  font-weight: 500;
  line-height: 2;
  padding: 1vmin 2.5vmin;
  background: rgb(236, 75, 11);
  cursor: pointer;
  margin-left: 5px;
  border-radius: 5px;
  border: none;
  outline: none;
  &:active {
    background: rgb(215, 72, 15);
  }
}

//sign up and log in

%wrapper_sign_log {
  position: fixed;
  @include flex($flex-direction: column);
  margin: 20px auto;
  width: 40vw;
  min-width: 260px;
  height: 300px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 6px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-out;
  z-index: 7;
}

%inputBox {
  position: relative;
  width: inherit;
  height: 30px;
  margin: 2vmin 0;
  min-width: inherit;
}

%inputBox_input {
  position: absolute;
  top: 50%;
  right: 0;
  height: inherit;
  width: inherit;
  min-width: inherit;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  padding-left: 21px;
  transform: translateY(-50%);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  background: rgba(255, 255, 255, 0.3);
}

%inputBox_inputAlert {
  position: absolute;
  top: 30px;
  left: 0;
  width: auto;
  height: auto;
  padding: 5px;
  background: rgb(243, 25, 25);
  z-index: 2;
  font-size: 10px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.451);
  color: #fff;
}

%submit {
  margin: 5px;
  padding: 7px 10px;
  width: 10vw;
  min-width: 95px;
  background-color: #fff;
  color: rgb(92, 91, 91);
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 30px;
  &:active {
    color: #fff;
    background: rgba(255, 255, 255, 0.3);
  }
}

%firebaseErrMes {
  height: auto;
  width: auto;
  color: red;
  background: #fff;
  font-size: 15px;
  padding: 0 5px;
  font-weight: 500;
}
