:root{
  --res: calc(0.01 * 10vmin);
};

$txt-white:#fff;
$toggle-white-black:#fff;
$background:rgb(241, 241, 241);
$box-shadow: 0 30px 90px -20px rgba(0,0,0,3);
$red:rgb(236, 75, 11);
$yellow:#ffd83c;

// BREAKPOINT
$mobile-max-width:768px; $mobile-card-min-width:230px;
$tablet-max-width:992px; $tablet-card-min-width:300px;
$desktop-max-width:1200px; $desktop-card-min-width:200px;
$large-desktop-min-width:1200px; $large-desktop-card-min-width:310px;